
.map-controls {
    margin-bottom: $m-size;
}

.map-controls__city-select {
    max-width: 30rem;
    margin: auto;
    text-align: left;

    @media screen and (max-width: $mobile-breakpoint){
        max-width: 90%;
    }
}