
.legend {
    max-width: 30rem;
    margin: $m-size auto 0 auto;
}

.legend__rect {
    padding: 0 5px;
    // width: 300px;
    // height: 20px;
}

.legend__message {
    margin-top: 3px;
    font-size: $font-size-small;
}

.legend__gradient {

}

.legend__svg {
    // height: 30px;
    // width: 310px;
}

.legend .tick {
    // font-size: $font-size-xs;
}